/** @format */

$primary-font: 'Montserrat';
$secondary-font: 'RobotoSlab';
$color1: #888888;
$blue: #0290ff;

.book-list {
  padding: 0 1.7rem;
  margin: 1.5rem;
  font-family: $secondary-font;
  
}

.book-item {
  border: solid 1px #e8e8e8;
  margin: 1rem;
  padding: 1rem 2rem ;
  display: flex;
  justify-content: space-between;
}

.book-details {
  margin-left: 1rem;
}

.book-title {
  margin: 0.188rem 20.188rem 0 0;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.category {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: $primary-font;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

.author {
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.book-buttons Button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding-top: 1rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  color: #4386bf;
}

.d-flex {
  display: flex;
}

.update-button {
  border-radius: 3px;
  height: 2.3rem;
  padding: 0 3rem;
  border-radius: 3px;
  background-color: $blue;
  text-align: center;
  color: #fff;
  font-family: $secondary-font;
  border: none;
}

.percentage {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed-text {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.current-chapter-text {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter{
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: RobotoSlab;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.icon {
 width: 100px;
 border: 3px solid  #4386bf;
 border-radius: 50%;

}

.percentage-section {
    align-self: center;
}